.dashboard-container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow-y: auto;

  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    min-height: 100vh;
    overflow-y: auto !important;
  }

  .clock-container {
    margin-bottom: 2rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
  }
  .cards-container {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  .dashboard-title {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
  }
}
